:root {
  background-color: #F5F4F0;
  margin: 30px;
  font-family: "Open Sans", sans-serif;
}

#travel-top {
  width: 1120px;
  height: 22px;
  line-height: auto;
  font-weight: bold;
  position: relative;
  top: 10px;
}

img {
  border-radius: 28px;
}

figure {
  position: relative;
  margin: 40px 0px;
}

.text-secundary {
  color: #333333;
}

.text-tertiary {
  color: #696969;
}

.headline {
  color: #E1624F;
  font-size: 16px;
}

h1 {
  width: 1120px;
  height: 49px;
  font-size: 36px;
  font-weight: bold;
  color: #1B1B1B;
}

figcaption {
  font-style: italic;
  font-size: 16px;
  margin: 24px 0px 40px 0px;
  text-align: center;
}

#second-headline {
  width: 255px;
  height: 22px;
  position: relative;
  text-align: 30px;
  font-weight: bold;
  height: auto;
  top: 20px;
}

section #content {
  margin: 64px 0px;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  position: relative;
  bottom: 22px -8px;
  margin-bottom: 8px;
  color: #1B1B1B;
}

.resume {
  margin: 0px;
}

h3 {
  font-size: 28px;
  font-weight: bold;
  margin: 10px -10px -4px 10px;
  height: auto;
  color: #1B1B1B;
}

.good-for {
  font-weight: bold;
}

.history {
  color:#0C51A7;
  margin-bottom: 48px;
}

ul li {
  font-weight: bold;
  margin-top: -15px;
}

/* Aplica uma margem inferior de 48px aos dois primeiros <li> */
.space-highlights {
  margin-bottom: 48px;
}

#couple {
  color: #591B98;
}

#family {
  color: #E5245E;
}

#budget {
  color: #E95E10;
  margin-bottom: 40px;
}

footer {
  text-align: center;
}

.separador {
  width: 100%; /* Ocupa a largura total */
  height: 1px; /* Define a espessura da linha */
  background-color: #CCCCCC; /* Define a cor da linha */
  margin-top: 40px;
  margin-bottom: 40px;
}

#credits {
  font-family: "Alice", serif;
  margin-top: 60px;
}

#credits img {
  position: relative;
    inset: 3px 20px 0px -2px;
}